{% extends 'navbar.html' %}

{% block content %}
<h2 align="center" style="color:blue"><u style="color:gold">***....Add Student Data....***</u></h2>
<form action="readdata" method="post">
     {% csrf_token %}
<table align="center">
    <tr style="color:maroon">
        <td align="right">Name:</td>
        <td><input type="text" name="txtname"></td>
    </tr>
    <tr style="color:maroon">
        <td align="right">Age:</td>
        <td><input type="number" name="age"></td>

    </tr>
    <tr style="color:maroon">
        <td align="right">PhoneNumber:</td>
        <td><input type="number" name="number"></td>
    </tr>
    <tr align="right" style="color:maroon">

        <td>City:</td>
        <td><select name="ddlcity">
            <option>__select__</option>
            {% for i in City_data %}
            <option>{{ i.City_Name}}</option>
            {% endfor %}
        </select></td>
    </tr>

    <tr align="right" style="color:maroon">
        <td>Course:</td>
        <td><select name="ddlcourse">
            <option>__Select__</option>
             {% for i in Course_data %}
            <option>{{ i.Course_Name}}</option>
            {% endfor %}
        </select></td>
    </tr>
    <tr style="color:maroon">
        <td align="right"><input type="submit" name="btnsub" value="Submit"></td>
    </tr>
   </table>
</form>
{% endblock %}