{% extends 'navbar.html' %}

{% block content %}
  <h2 align="center" style="color:blue">Add Student Data</h2>
<form method="post">
     {% csrf_token %}
<table align="center">
    <tr>
        <td align="right">Name:</td>
        <td><input type="text" name="txtname" value="{{ data.Stud_Name }}"></td>
    </tr>
    <tr>
        <td align="right">Age:</td>
        <td><input type="number" name="age" value="{{ data.Stud_Age}}"></td>

    </tr>
    <tr>
        <td align="right">PhoneNumber:</td>
        <td><input type="number" name="number" value="{{ data.Stud_Phno}}"></td>
    </tr>
    <tr align="right">

        <td>City:</td>
        <td><select name="ddlcity">
            <option>___Select____</option>
            <option selected>{{data.Stud_City}}</option>
            {% for i in City_Data %}
                {% if i.City_Name != data.Stud_City %}
                    <option>{{ i.City_Name }}</option>
                {% endif %}
            {% endfor %}
        </select></td>
    </tr>

    <tr align="right">
        <td>Course:</td>
        <td><select name="ddlcourse">
            <option selected>{{data.Stud_Course}}</option>
             {% for i in Course_Data %}
            <option>{{ i.Course_Name}}</option>
            {% endfor %}
        </select></td>
    </tr>
    <tr>
        <td align="right"><input type="submit" name="btnsub" value="Submit"></td>
    </tr>
   </table>
</form>
{% endblock %}